
  body {
    background-image: url('hehe1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


  }

/*stylr użytkownik*/
.mark, mark {
    background-color: rgb(122, 7, 130);
}
