
  body {

    background-attachment: fixed;
    background-image: url('hehe1.jpg');
    background-position: center;
    background-size: cover;





  }

/*stylr użytkownik*/
.mark, mark {
    background-color: rgb(122, 7, 130);
}



.gallery {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  flex-flow: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-top: 20px;




}

.gallery-item {
  margin: 20px;

}

.gallery-item .thumbnail {
  border: 5px solid #fff;
}
